@charset "UTF-8";

@font-face {
    font-family: idroid;
    src: url('fontes/idroid.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    background-color: rgb(22, 189, 97);
    font-family: 'idroid', sans-serif;
}

h1{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 35px;
    font-family: Arial, Helvetica, Arial, Helvetica, sans-serif;
}

header p{
    font-size: 14px;
    color: rgba(255, 255, 255, 0.7);
    margin-top: 5px;
    text-align: center;
    font-style: italic;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

p{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}

nav > a{
    text-decoration: none;
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

nav > a:hover{
    text-decoration: underline;
    color: rgb(0, 0, 0);
}

header{
    background-image: linear-gradient(to top, #276100, #378A00, #47B300, #58DB00, #65FF00);
    padding: 20px;
}

article{
    background-color: beige;
    padding: 10px;
}

h2{
    text-align: center;
    background-color: #7ad43e6b;
    color: #1b3f04;
}

.sub{
    background-color: #7ad43e6b;
    color: #1b3f04;
}

.img1{
    display: flex;
    justify-content: center;
    align-items: center;
}

.irina{
   display: flex;
   justify-content: center;
   align-items: center;
}

.bug{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
}

.video-container{
    position: relative;
    width: 90%;
    max-width: 560px;
    aspect-ratio: 16/9;
}

.video-container iframe{
    position: absolute;
    width: 100%;
    height: 100%;
    border: none;
}


.list{
    color: #ffffff;
    border-bottom: 5px solid #5cb85c;
    padding-bottom: 5x;
    background-color: #50ad12;
    padding: px;
    border-radius: 7px;
}

.list h3{
    background-color: #276100;
    padding: 10px;
    border-radius: 7px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.listas{
    display: flex;
    justify-content: center;
    background-color: #50ad12;
    padding:20px;
    border-radius: 10px;
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
}

.listas ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 200px;
}

.listas li{
    position: relative;
    padding-left: 25px;
    margin-bottom: 8px;
}

aside{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    margin-top: 18px;
    margin-bottom: 10px;
    }

footer{
    color: bisque;
    box-shadow: 10px -4px 12px black;
}

.footer-link{
    color: #ffffff;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
}

        .footer-link:hover{
            text-decoration: underline;
            color: black;
        }